/* Style for Border */
width: 270px;
height: 707px;

/* Base style */
font-weight: 400;

/* Style for "Sync 1.0 Avail" */
color: #5876BB;
font-family: "Open Sans";
font-size: 16px;

/* Style for "June 4, 2015
" */
color: #666;
font-family: "Open Sans";
font-size: 12px;

/* Style for "Sync, a wonder" */
color: #000;
font-family: "Open Sans";
font-size: 14px;

/* Style for "‚Ä¶" */
color: #000;
font-family: "Helvetica";
font-size: 14px;

/* Style for "READ MORE" */
color: #5489C8;
font-family: "Helvetica";
font-size: 12px;
text-decoration: underline;
/* Base style */
font-weight: 400;

/* Style for "Sync 1.0 Avail" */
color: #5876BB;
font-family: "Open Sans";
font-size: 16px;

/* Style for "June 4, 2015
" */
color: #666;
font-family: "Open Sans";
font-size: 12px;

/* Style for "Sync, a wonder" */
color: #000;
font-family: "Open Sans";
font-size: 14px;

/* Style for "‚Ä¶" */
color: #000;
font-family: "Helvetica";
font-size: 14px;

/* Style for "READ MORE" */
color: #5489C8;
font-family: "Helvetica";
font-size: 12px;
text-decoration: underline;
/* Base style */
font-weight: 400;

/* Style for "Sync 1.0 Avail" */
color: #5876BB;
font-family: "Open Sans";
font-size: 16px;

/* Style for "June 4, 2015
" */
color: #666;
font-family: "Open Sans";
font-size: 12px;

/* Style for "Sync, a wonder" */
color: #000;
font-family: "Open Sans";
font-size: 14px;

/* Style for "‚Ä¶" */
color: #000;
font-family: "Helvetica";
font-size: 14px;

/* Style for "READ MORE" */
color: #5489C8;
font-family: "Helvetica";
font-size: 12px;
text-decoration: underline;
/* Base style */
font-weight: 400;

/* Style for "Sync 1.0 Avail" */
color: #5876BB;
font-family: "Open Sans";
font-size: 16px;

/* Style for "June 4, 2015
" */
color: #666;
font-family: "Open Sans";
font-size: 12px;

/* Style for "Sync, a wonder" */
color: #000;
font-family: "Open Sans";
font-size: 14px;

/* Style for "‚Ä¶" */
color: #000;
font-family: "Helvetica";
font-size: 14px;

/* Style for "READ MORE" */
color: #5489C8;
font-family: "Helvetica";
font-size: 12px;
text-decoration: underline;

/* Style for "The Latest New" */
color: #5876BB;
font-family: "Open Sans";
font-size: 18px;
font-weight: 700;

/* Style for Logo */
width: 241px;
height: 80px;